<div class="content">
  <div class="header-content">
    <div>
      <h2>Employees</h2>
      <ng-container *ngIf="totalNumberOfEmployees">
        <div>There are {{ totalNumberOfEmployees }} employees</div>
      </ng-container>
      <ng-container *ngIf="!totalNumberOfEmployees">
        <div>No employees</div>
      </ng-container>
    </div>
    <div>
      <div class="search-hero">
        <input
          class="form-control search"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="Search"
        />
      </div>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Filter by</mat-label>
      <mat-select #matSelect disabled>
        <mat-option
          *ngFor="let attribute of attributes"
          [value]="attribute.value"
        >
          {{ attribute.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-raised-button (click)="openDialog()">+ New Employee</button>
    </div>
  </div>

  <ng-container *ngIf="!allEmployees">
    <div class="empty-content">
      <p>There is nothing here</p>
      <br />

      <p>
        Create a new employee by clicking the
        <strong>New Employee</strong> button to get started
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="allEmployees">
    <div class="container" style="width: 100%">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let employee of allEmployees | filter: searchText">
            <td>{{ employee.id }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.contactNumber }}</td>
            <td>
              <button
                mat-raised-button
                color="warn"
                (click)="deleteEmployee(employee.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
